.form-group {
  margin-top: 10vh;
  display: inline-flex;
  float: left;
  flex-direction: column;
  margin-left: 5vh;
}
label {
  display: block;
  width: 100%;
}

.form-group > div {
  display: flex;
}

.button-upload {
  width: 120px;
  border-radius: 20px !important;
  padding: 10px 20px;
  margin-left: 5vh !important;
  /* margin-top: 3vh !important; */
}

body {
  /* background-color: #262729 !important; 
  PLS VE SE GOSTAS DESTE CINZA ^^ */
 /*  background-color: rgb(105, 105, 105) !important; */
 background-color: #111416 !important;
  color: whitesmoke !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.scan-return-div {
  display: flex;
  flex-direction: column;
}

.scan-retun-results-cloudinary {
  display: flex;
  flex-direction: row-reverse;
}

.uploaded-img {
}

.color-code-result {
}

.color-code-result-img {
  border-radius: 30% !important;
}
.color-code-result-name {
  font-size: 50px;
}
