
body {
  background-color: #262729;
}

.poly-text {
  margin-left: 6vh;
  margin-right: 6vh;
}
.mainH2 {
  margin-top: 3vh;
}

.welcome {
  color: whitesmoke;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
